<!DOCTYPE html>

<head>
	<title>Petflix Login And Registration</title>
	<link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

	<div class="log">
		<p>Email:</p>
		<form action="">
			<input type="text" id="email" name="email">
		</form>
		<p>Password:</p>
		<form action="">
			<input type="password" id="email" name="email">
		</form>
		<button class="logbutton" type="button">Let's go!</button>

		<h2>Don't have an account? Register below</h2>
		<p>Email:</p>
		<form action="">
			<input type="text" id="email" name="email">
		</form>
		<p>Password:</p>
		<form action="">
			<input type="password" id="email" name="email">
		</form>
		<p>Enter password again:</p>
		<form action="">
			<input type="password" id="email" name="email">
		</form>
		<button class="logbutton" type="button">The adventure begins!</button>
	</div>

	<script src="" async defer></script>
</body>

</html>